{% extends "horzontal_dashboard.html" %}
{% block content %}
{% load static %}


<div class="container d-flex justify-content-center">
	{% comment %} <div class="col-md-12 col-sm-12"> {% endcomment %}
		<div class="full-card">
				<form class="" method="POST" action= "" enctype="multipart/form-data">
                    {% csrf_token %}
				<!-- Start All Sec -->
				<div class="tab-content">

					<div id="settings" class="  active">
						<div class="row no-mrg">
							<h3>Add Talluk</h3>
							<div class="edit-pro">
								<div class="form-outline mb-4">
									<label>Talluk Name</label>
									<input type="text" class="form-control" placeholder="Enter Talluk Name" value=""name="name" id="name" required >
								</div>
								<div class="form-outline mb-4">
									<label>Acronym</label>
									<input type="text" class="form-control" placeholder="acronym" value=""name="acronym" id="acronym" required >
								</div>
								<div class="form-outline mb-4">
									<label>District</label>

                                        <select class="form-control" name="dist"  id="dist" required>
                                            <center>
												<option>Select State</option>
												{% for item in distdata %}
												{% if item.status != False %}
												<option value="{{ item.id }}">{{item.name}}</option>
												{% endif %}
                                            	{% endfor %}
                                            </center>
                                        </select>

								</div>

								<div class="col-sm-12">
									<button type="submit" class="btn btn-primary theme-bg full-width">Add</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Settings -->
				</div>
				<!-- Start All Sec -->
            </form>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}