{% extends "horzontal_dashboard.html" %}
{% block content %}
{% load static %}


<!--    <div class="clearfix"></div>-->

<!-- Title Header Start -->
<div class="container justify-content-center">
  <div><h1>{{title}}</h1> <a href="{% url 'app:Add_subcaste' %}" class="btn-sm  btn-primary" id="Add" style="float:right;text-decoration: none;">Add New Data</a></div>
  <br>
  <br>
<table id="user-roles-records" class="table table-responsive-md table-bordered table-sm table-striped"cellspacing="0" width="100%">
  <thead>
    <tr>
        <th>ID</th>
      <th>subcaste Name</th>
      <th>subcaste_name</th>
        <th>Caste </th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for item in subcastedata %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.subcaste_code}}</td>
        <td>{{item.subcaste_name}}</td>
       <td>{{item.caste.caste_name}}</td>


     <td><a href="{% url 'app:edit_Subcaste' id=item.id %}" class="btn btn-sm btn-success bi bi-pencil-square"id="edit">Edit</a>

            {% if item.status == True %}
          <a href="{% url 'app:Status_update_Subcaste' action='active' id=item.id  %}"class="btn btn-sm btn-primary" id="activbtn"><i class="bi bi-eye"></i>Active </a>
            {% else %}

            <a href="{% url 'app:Status_update_Subcaste' action='deactive' id=item.id %}" class="btn btn-sm btn-warning" id="deactive"><i class="bi bi-eye-slash"></i>Disabled </a>

          {% endif %}
             <a href="{% url 'app:delete_Subcaste' id=item.id %}" class="btn btn-sm btn-danger" id="delete"><i class="bi bi-trash"></i>Delete</a> 
      </td>
    </tr>
  {% endfor %}
    <!-- Add more rows here -->
  </tbody>
</table>

{% endblock %}